*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header {
    background: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.headerText {
    display: flex;
    gap: 4rem;
    padding-right: 10rem;
    color: white;
}

.headerText>a:link {
    text-decoration: none;
    color: white;
}

.headerText>a:visited {
    text-decoration: none;
    color: white;
}

.headerText>a:hover {
    text-decoration: underline;
    color: gold;
}

.webLogo {
    width: 20rem;
    height: 90%;
}

.headerIMG {
    padding-left: 7rem;
}

body {
    font-family: sans-serif;
    font-size: 2rem;
    background: #eee;
    padding: none;
    overflow: hidden;
    mix-blend-mode: darken;
}

body::before,
body::after {
    content: "";
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: away;
    animation-duration: 1.2s;
    transform-origin: right;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.650, 0.050, 0.360, 1);
}

body::before {
    background: purple;
    animation-delay: .3s;
    z-index: 1;
}

body::after {
    background: pink;
    z-index: 1;
}

main {
    width: 100%;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: popup;
    animation-duration: .8s;
    animation-delay: 1s
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    width: 100%;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.inputs>div {
    width: 40rem;
    display: flex;
    align-items: center;
}


.filter {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    background: purple;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2rem;
    box-shadow: inset 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.label:hover {
    cursor: pointer;
}

.filter:hover {
    cursor: pointer;
}

.filter:checked {
    background: pink;
}

.filter:checked~.label {
    text-decoration: underline;
}

.perfumes {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.perfume {
    list-style: none;
    width: 30rem;
    height: 30rem;
    transition: .2s;
    flex-grow: 1;
}

.perfume:hover {
    transform: scale(1.2) translateY(-0.7rem);
    cursor: pointer;
}

.perfume>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes away {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 50rem) {
    body {
        background-color: red;
    }
    .footer {
        height: 100rem;
    }
}