* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

header {
    background: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}


.headerText{
    display: flex;
    gap: 3rem;
    padding-right: 8rem;
    color: white;
  }

.headerText>a:link {
    text-decoration: none;
    color: white;
}

.headerText>a:visited {
    text-decoration: none;
    color: white;
}

.headerText>a:hover {
    text-decoration: underline;
    color: gold;
}

.rondlogo{
    width: 20rem;
    height: 100%;
  }

.headerIMG {
    padding-left: 8rem;
}

@media screen and (max-width: 45rem) {
    .logo {
        width: 19rem;
        height: 4rem;
    }

    a {
        font-size: 1.1rem;
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
}

.product {
    list-style: none;
    padding: 3rem;
    border-radius: 0rem;
    font-size: 3rem;
    font-weight: lighter;
}


.parfum-1 {
    position: flex;
    padding-top: 5rem;
    font-size: 4rem;
}

.parfum-2 {
    position: flex;
    padding-top: 5rem;
    font-size: 4rem;
}

.parfum-3 {
    position: flex;
    padding-top: 5rem;
    font-size: 4rem;
}

.parfum-4 {
    position: flex;
    padding-top: 5rem;
    font-size: 4rem;
}

.product1 {
    grid-column: 5/16;
    grid-row: 3/5;
    background: rgb(255, 255, 255);
    outline: purple solid;
    color: purple;
    text-align: left;
}

.product2 {
    grid-column: 5/16;
    grid-row: 7/9;
    background: rgb(255, 255, 255);
    outline: purple solid;
    color: purple;
    text-align: left;
}

.product3 {
    grid-column: 5/16;
    grid-row: 11/13;
    background: rgb(255, 255, 255);
    outline: purple solid;
    color: purple;
    text-align: left;
}

.product4 {
    grid-column: 5/16;
    grid-row: 15/17;
    background: rgb(255, 255, 255);
    outline: purple solid;
    color: purple;
    text-align: left;
}



.parfumFoto-1 {
    margin-left: 0rem;
    position: flex;
    width: 13rem;
    height: 13rem;
    margin-left: 0%;
    text-align: left;
    float: left;
}



.parfumFoto-2 {
    margin-left: 0rem;
    position: flex;
    width: 13rem;
    height: 13rem;
    margin-left: 0%;
    text-align: left;
    float: left;
}

.parfumFoto-3 {
    margin-left: 0rem;
    position: flex;
    width: 13rem;
    height: 13rem;
    margin-left: 0%;
    text-align: left;
    float: left;
}

.parfumFoto-4 {
    margin-left: 0rem;
    position: flex;
    width: 13rem;
    height: 13rem;
    margin-left: 0%;
    text-align: left;
    float: left;
}


@media screen and (max-width: 45rem) {

    .headerIMG {
        padding-left: 1rem;
    }

    .headerText {
        padding-right: 1rem;
        font-size: .7rem;
    }
}

@media screen and (max-width: 50rem) {

    .footer {
     width: 100vh;
    }
 
    .footertext1 {
     margin-left: 2rem;
     font-size: 3rem;
    }
 
    .footertext2 {
     margin-right: 2rem;
     font-size: 3rem;
     text-align: right;
    }
 }